.footer-container {
    position: static;
    height: 124px;
    background-color: #000;
    bottom: 0;
    left: 0px;
    right: 0px;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
    
    h4 {
        padding: 30px
    }
}